
  
  body {
    font-size: 14px;
  }
  .v7_110 {
    width: 903px;
    height: 603px;
    background: rgba(163,153,153,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_112 {
    width: 386px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 13px;
    left: 220px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v7_121 {
    width: 370px;
    height: 50px;
    background: url("../images/v7_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 144px;
    left: 227px;
    overflow: hidden;
  }
  .v7_113 {
    width: 370px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_116 {
    width: 220px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 69px;
    font-family: Imbue;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v24_2 {
    width: 370px;
    height: 50px;
    background: url("../images/v24_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 226px;
    left: 227px;
    overflow: hidden;
  }
  .v24_3 {
    width: 370px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v24_4 {
    width: 220px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 69px;
    font-family: Imbue;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v24_6 {
    width: 370px;
    height: 50px;
    background: url("../images/v24_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 301px;
    left: 227px;
    overflow: hidden;
  }
  .v24_7 {
    width: 370px;
    height: 50px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v24_8 {
    width: 220px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 69px;
    font-family: Imbue;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v7_123 {
    width: 370px;
    height: 95px;
    background: url("../images/v7_123.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 376px;
    left: 227px;
    overflow: hidden;
  }
  .v7_115 {
    width: 370px;
    height: 95px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v7_118 {
    width: 172px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 92px;
    font-family: Imprima;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v7_124 {
    width: 163px;
    height: 51px;
    background: url("../images/v7_124.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 502px;
    left: 227px;
    overflow: hidden;
  }
  .v7_119 {
    width: 163px;
    height: 51px;
    background: rgba(243,53,53,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v7_120 {
    width: 133px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 14px;
    font-family: Imprima;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
